/* universal reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global margin */
.global-vertical-margin {
  margin: 0 80px;
}

/* color variable declaration  */
:root {
  --color-primary-header: #939393;
  --color-secondary-header: #434140;

  --color-primary-border: #f5efe8;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #f78431;

  --secondary-font-color: #5d6671;
  --tertiary-font-color: #9a9a99;

  --secondary-font-size: 18px;
}

.container {
  width: 100%;
}
body {
  font-family: Georgia, serif;
}

.main-header {
  border-bottom: 1px solid var(--color-primary-border);
  border-right: 1px solid var(--color-primary-border);
}
.navigation-bar {
  padding: 30px 0 40px 0;
  color: var(--color-primary-header);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  color: var(--color-secondary-header);
  font-size: 35px;
  font-weight: bolder;
}

.navigation-links-1 {
  flex: 2;
  margin-right: 8rem;
}
.navigation-links-2 {
  flex: 1;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  list-style: none;
}

.sign-up {
  border-radius: 23px;
  /* height: 50px; */
  width: 100px;
}

/* styling hyperlinks */
.navigation-bar a:link,
.navigation-bar a:visited {
  color: var(--color-primary-header);
  text-decoration: none;
}

.navigation-bar a:hover {
  color: orangered;
}
/* growing your business section */
#growing-your-business {
  display: flex;
  margin: 80px 80px 0 80px;
}
.growing-your-business-left {
  flex: 1;
}

.sub-heading-1,
.sub-heading-2 {
  text-transform: capitalize;
  font-size: 90px;
}
.sub-heading-1 {
  line-height: 50px;
}
.sub-heading-2 {
  color: var(--color-orange);
  font-weight: bolder;
}
.growing-your-business-info {
  color: var(--secondary-font-color);
  margin: 20px 0;
  font-size: var(--secondary-font-size);
  padding-right: 65px;
}

.btns-growing-your-business {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 400px;
  flex-wrap: wrap;
  text-align: center;
  margin: 10% auto;
}
.gyb-btn-div {
  min-width: 200px;
}

.btn-gyb {
  width: 160px;
  height: 53px;
  padding: 5% 5%;
  margin-bottom: 10%;
  text-transform: capitalize;
  background-color: #fafafa;
  border-color: #989898;
  color: var(--tertiary-font-color);
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 1px groove;
}
.btn-gyb:hover {
  background-color: var(--color-white);
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
}
.gyb-icon {
  margin-right: 5px;
  font-size: 17px;
  text-align: center;
}
.growing-your-business-right {
  flex: 1;
  justify-content: center;
  position: relative;
}

.gyb-img {
  margin-left: 40px;
  width: 75%;
  height: 88%;
}

.gyb-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 10px;
  width: 340px;
  padding: 15px;
  background-color: var(--color-white);
  line-height: 22px;

  position: absolute;
  right: 100px;
  bottom: 20px;
}
.gyb-card-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.gyb-card-info {
  font-size: var(--secondary-font-size);
  margin-bottom: 10px;
}
.gyb-card-sub-info {
  color: var(--secondary-font-color);
  font-size: 13px;
}

.card-left {
  flex: 1;
  align-self: start;
}
.card-right {
  flex: 2;
}
/* all sections heading and hr */
.section-heading {
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}

.section-horizontal-line {
  width: 20%;
  margin: 1% auto;
  background-color: var(--color-orange);
}

.section-info {
  text-align: center;
  margin: 5% auto 5% auto;
  color: var(--secondary-font-color);
  font-size: var(--secondary-font-size);
}

/* Our services secton */
#our-services {
  margin: 0 17%;
}

/* our services card styling */
.card-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 80%;
  justify-self: center;
  padding: 15% 10%;
  margin: 5% 0;
  text-align: center;
  background-color: #fafafa;
}

.card:hover {
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  cursor: pointer;
}

.card-heading {
  text-transform: uppercase;
  color: var(--secondary-font-color);
  margin: 15% 0 10% 0;
}
.card-icon {
  font-size: 40px;
}
.branding-identity-icon {
  color: #f79292;
}
.branding-consult-icon {
  color: #91a5fd;
}
.web-development-icon {
  color: #85b5c4;
}
.market-analysis-icon {
  color: #7eefd3;
}
.card-data p {
  color: var(--secondary-font-color);
  font-size: var(--secondary-font-size);
}

/* section how-it-works */
#how-it-works {
  margin: 40px 80px;
}
.subsection-how-it-works-1 {
  margin: 0 13%;
}
.subsection-how-it-works-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-left {
  flex: 1;
  text-align: center;
  min-width: 30%;
}

.icons-background {
  width: 13%;
  padding: 10px 10px;
  background-color: #eeeeee;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20%;
}
.icons-how-it-works {
  font-size: 24px;
}
.icon-label {
  text-transform: capitalize;
  font-size: 27px;
  font-weight: bold;
  color: var(--secondary-font-color);
  margin: 5% auto;
}

.icons-htc:hover > hr {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
.how-it-works-left hr {
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
}

.how-it-works-right {
  flex: 3;
  padding: 5rem 10rem 0 5rem;
  align-self: flex-start;
}
.heading-how-to-create-account {
  font-size: 27px;
  margin-bottom: 3rem;
}
.info-how-to-create-account {
  color: var(--tertiary-font-color);
  line-height: 24px;
  font-size: var(--secondary-font-size);
}
.buttons-how-it-works {
  margin-top: 5rem;
}
.btn-htc {
  width: 34%;
  padding: 3% 5%;
  border-radius: 26px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-right: 5%;
  cursor: pointer;
}

.btn-htc:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
  box-shadow: 0 25px 16px 0 rgba(0, 0, 0, 0.1);
}

#make-your-business-bright {
  margin: 40px 80px;
}
.subsection-make-your-business-1 {
  margin: 0 18%;
}
.subsection-make-your-business-2 {
  display: flex;
}
.subsection-make-your-business-left {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 14% 0;
}

.mybb-subsection {
  min-width: 34%;
  height: 50%;
  border-left: 5px solid #f78431;
  padding: 0 20px;
  margin-right: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mybb-subsection-heading {
  font-size: 34px;
  font-weight: bolder;
}
.mybb-subsection-info {
  width: 50%;
  font-size: 18px;
  font-weight: bolder;
  text-transform: capitalize;
  color: var(--secondary-font-color);
}
.subsection-make-your-business-right {
  flex: 1;
}

.mybb-image-background {
  margin-top: 36%;
  margin-left: 30%;
  height: 73%;
  width: 51%;
  background-color: var(--color-orange);
  position: relative;
}
.mybb-girl-img {
  height: 100%;
  width: 100%;
}
.mybb-img-bck {
  height: 600px;
  width: 450px;
  z-index: 1;

  position: absolute;
  bottom: 49px;
  left: -174px;
}

.mybb-card-1 {
  position: absolute;
  right: -123px;
  bottom: 158px;

  z-index: 2;
}
.mybb-card {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 5px;
  width: 385px;
  padding: 20px;
  background-color: var(--color-white);

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.mybb-card-info {
  font-size: var(--secondary-font-size);
  max-width: 70%;
}
.mybb-card-profile-name {
  margin-right: 24%;
  text-transform: capitalize;
  color: var(--secondary-font-color);
  font-size: 13px;
  padding: 10px 0px;
  letter-spacing: 1px;
}
.rating {
  padding: 10px 12px;
  font-size: 10px;
  color: gold;
}
.mybb-card-2 {
  position: absolute;
  right: 279px;
  bottom: -16px;
  z-index: 2;
}
.mybb-card-profile-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

/* media queries for common sections */
@media only screen and (max-width: 768px) {
  .section-info {
    font-size: 13px;
    color: #989898;
  }
}
/* media-queries for our-services-section */
@media only screen and (max-width: 768px) {
  .card-heading {
    font-size: 16px;
  }

  .card-data p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  #our-services {
    width: 90%;
  }
  .card-container {
    display: block;
  }
  .card {
    max-width: 80%;
    margin: 5% auto;
  }
}
